
{% extends 'index.html' %}


{% block content %}
{% load static %}
<section class="jumbotron text-center" 
    style="background-image: url({% static 'Justice_League.jpg' %});
            background-repeat: no-repeat;
            background-position: center;">
    <div class="container">
        <!-- <h1 class="jumbotron-heading">Type the name of movie</h1> -->
        <br/><br/>
        <form class="my-2" method="POST">
            <div class="input-group mb-3">
                {% csrf_token %}
                <input class="form-control mr-sm-2" 
                name="search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="search">Search</button>
            </div>
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br/><br/>
    </div>
</section>


<!-- Result -->

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for movie in movie_list %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img
                        class="bd-placeholder-img card-img-top"
                        width="fit-content"
                        height="200"
                        src="{{ movie.Poster }}"
                        preserveAspectRatio="xMidYMid slice"
                        focusable="false"
                        role="img"
                        aria-label="Placeholder: Thumbnail"
                    ></img>
                <div class="card-body">
                    <p class="card-text">{{ movie.Title }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a type="button" href="{% url 'search:readMore' %}?title={{ movie.Title }}&imdb={{ movie.imdbID }}" class="btn btn-sm btn-outline-secondary">View More</a>
                        </div>
                        <small class="text-muted">{{ movie.Year }}</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}